<h2 align="center">All Users</h2>

<div align="center">
    <div class="col-md-10 col-md-offset-1">
      <% @users.each do |user| %>
        <div class="well profile-black-white-thin row" <%= cycle("profile-black-white-thin-b", '') %> 
            <p>
                <span class="bold "> Name: </span> <span class="green"><%= user.name %> </span>
                <span class="bold"> Email: </span> <span class="green"><%= user.email %> </span>  
                <span class="spacer">Bubble</span></p>
                <%= link_to "View", user_path(user), class: "btn btn-warning" %> 
                <% if current_user && current_user.admin? %>
                        <%= link_to "Edit", edit_user_path(user), class: "btn btn-primary" %>
                        <%= link_to "Delete", user_path(user), method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger" %> 
                <% end %>
            </p>
         </div>
      <% end %>
    </div>
</div>